# 1. Find a factorial of given number.

In [12]:
fac: int = 1
i: int  = int(input())
while(i):
    fac*=i
    i-=1
print(fac)

5
120

# 2. Find whether the given number is Armstrong number.

In [11]:
n = int(input())
s = 0
t = n
while (t!=0):
    rem = t % 10
    s += rem ** 3
    t = t // 10

if s == n:
    print(True)
else:
    print(False)

45
False

# 3. Print Fibonacci series up to given term.

In [10]:
n: int = int(input())
a: int = 0
b: int = 1
c: int = a+b
print()
print(a)
print(b)
for i in range(n-2):
    print(c)
    a = b
    b = c
    c = a+b

6

0
1
1
2
3
5

# 4. Write a program to find if given number is prime number or not.

In [9]:
n = int(input("Enter the number "))
isPrime = True
for i in range(2,n):
    if n % i == 0:
        isPrime = False
        break

if n <= 1:
    isPrime = False

if isPrime:
    print("Number is Prime")
else:
    print("Number is not Prime")

Enter the number 876
Number is not Prime

# 5. Check whether given number is palindrome or not.

In [8]:
n = int(input("Enter the number: "))
t = n
num = 0
while(t!=0):
    rem = t % 10
    num  = num * 10 + rem
    t = t//10
print(num)

Enter the number: 234
432

# 6. Write a program to print sum of digits.

In [7]:
print(sum([int(x) for x in input()]))

234
9

# 7. Count and print all numbers divisible by 5 or 7 between 1 to 100.

In [6]:
count = 0
for i in range(1,101):
    if i % 5 == 0 or i % 7 == 0:
        print(i)
        count+=1
print()
print('Total number divisible by 5 and 7 between 1 - 100',count)

5
7
10
14
15
20
21
25
28
30
35
40
42
45
49
50
55
56
60
63
65
70
75
77
80
84
85
90
91
95
98
100

Total number divisible by 5 and 7 between 1 - 100 32

# 8. Convert all lower cases to upper case in a string.

In [5]:
print(''.join([chr(ord(i)-32) for i in input()]))

arnav
ARNAV

# 9. Print all prime numbers between 1 and 100.

In [2]:
for i in range(1,101):
    if i % 2 != 0:
        isPrime: bool = True
        for k in range(2,int(i**0.5) + 1):
            if i % k == 0:
                isPrime = False
                break
        if isPrime:
            print(i)

1
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# 10. Print the table for a given number.

In [1]:
n=5
for i in range(1,11):
    print(n*i)

5
10
15
20
25
30
35
40
45
50